.signForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}


.image{
    width:100px;
    height:80px;
}

.forms{
    padding: 4rem;
    border: 0.1px solid rgb(68, 102, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(166, 175, 33, 0.384);
}

.heading{
    color:rgb(57, 126, 182);
    font-weight: bolder;
    margin: 1.3rem;
    font-size: 1.5rem;
}

.inputval{
    padding:0.5rem;
    border-radius: 9px;
    border: 1px solid black;
}

label{
    font-size: 0.9rem;
    text-align: flex-start;
}

.sign_up{
    margin-top: 1rem;
    background-color: rgb(68, 147, 161);
    color:white;
    padding:1rem;
    border-radius: 14px;
}

.New{
    color:grey;
    padding-top: 1.2%;
}

.buttons{
    display: flex;
    gap: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.newAcc2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(39, 138, 219);
    color:white;
    border: 1px solid black;
    border-radius: 7px;
    padding:1rem;
}

@media screen and (max-width:500px) {
    .forms{
        padding:1rem;
        font-size: 0.5rem;
    }
}