/*Main footer Css*/

.footer_imagee {
    background-image:url('./footer.webp');
    background-repeat: no-repeat;
    width:100%;
    margin-top:1rem;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    color:white;
}

.img-overlay{
    background-color: rgba(60, 151, 255, 0.349);
    overflow-x: hidden;
}

.row{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: 0,0,0,0.8;
}

/*contents of footer*/

/*first column*/
.column1{
    width:35%;
    font-size: 0.8em;
    padding: 1rem;
}

.logo1{
    width:4rem;
    object-fit: contain;
    padding-bottom: 1%;
}

/*column 2 css*/
.column2{
    display:flex;
    flex-direction: column;
    font-size: 0.6em;
    width:20%;
    padding-top: 2rem;
}

.colm2_title{
    font-size: 1.7em;
}

.contact-links{
    padding-top: 0.5rem;
}

.contact-links p{
    font-size: 0.8rem;
    line-height: 0.8rem;
}

/*social icons*/

.social_logo{
    display: flex;
    justify-content: flex-start;
}

.social_logo img{
    padding-top: 5px;
    width:1.8rem;
    aspect-ratio: 3/2;
    object-fit: contain;
}

/*media queries*/
 @media screen and (max-width:400px){
    .column1{
        font-size: 0.5em;
    }
    .colm2_title{
    font-size: 1em;
}

.contact-links p{
    font-size: 0.5rem;
    padding-right: 8px;
}
 }