body{
    margin: 0;
    padding: 0;
    background-color: rgba(224, 216, 216, 0.267);
    overflow-x: hidden;
}

.elements{
    margin: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:80%;
}

.card:hover{
    border : 2px solid rgb(51, 124, 51);
    cursor: pointer;
}

.pic{
    width: 180px;
    height: 170px;
}

.name{
    font-weight: bolder;
}
.dis{
    color: red;
    font-weight: bolder;
}

.cart{
    font-size: 1.8rem;
    color: rgb(53, 173, 107);
}

.elem h2{
    width:100%;
    text-align: center;
    color: rgb(9, 92, 9);
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bolder;
    font-size: 30px;
}

.card{
    margin: 10px;
    padding: 2%;
    width: 250px;
    height:260px;
    box-shadow: 3px 3px 20px rgba(67, 131, 44, 0.589);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.for_button{
    display: flex;
    justify-content: space-between;
}

.add_cart{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 17px;
}

.add_cart button{
    background-color: red;
    color: white;
    border:1px solid white;
    border-radius: 5px;
    height:45px;
    width:50px;
    cursor: pointer;
}

.add_cart button:hover{
    border: 1px solid white;
    box-shadow: 4px 4px 20px rgba(221, 102, 55, 0.808);
}

.desc{
    padding-left: 17px;
}
.category{
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    padding-bottom: 9px;
    color:black;
    cursor: pointer;
}

.category:hover{
    color:rgb(98, 247, 98);
}


.categ h2{
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bolder;
}

.probox{
    display: flex;
    flex-wrap: wrap;
}

.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(23, 102, 23);
    text-transform: uppercase;
}

.anchortag{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
  padding-bottom: 8px;
  color: blue;
}

.categ{
    display: flex;
}

.product_list{
    margin-top: 8%;
    height:35vh;
    width: 240px;
    margin-left: 2%;
     border-radius: 9px;
     background-color: white;
     margin-right: 2%;
}

.product_list h2{
    color: green;
    text-align: center;
    background-color: rgba(76, 214, 180, 0.418);
    height: 40px;
    border-radius: 9px;
}

.item_list{
    margin-top: 2%;
    padding-top: 7%;
     text-align: center;
     border-radius: 9px;
     background-color: white;
}

.elem{
    display: flex;
    flex-direction: column;
}
.elem2{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
}

.elem3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4%;
}

.search_products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
